
:root {
  --bg-color: #faf9f6;
  --text-color: #3a3b3c;
  --light-green: #c5c191;
  --mid-green: #a3aa81;
  --dark-green: #4c4735;
}

* {
  background-color: var(--bg-color);
  color: var(--text-color);  
  box-sizing: border-box;
}

html, body {
  /* added to help navbar */
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: var(--mid-green);
}
a {
  text-decoration: none;
}
li {
  list-style: none;
  margin-bottom: 25px;
}

/* Main/Home ------------------------------------------------------------------------- */

.main__head {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  /* gap: 20px; */
}
.main__head--text {
  margin-top: -700px;
} 
#main__img--kitchen {
  width: 800px;
  height: auto;
}

/* list --------------------------------------------------------------------------------- */

.list__layout {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 20px; 
}
.list--text {
  margin-top: -700px;
  margin-left: 200px;
}
.list--grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.grid--item img {
  width: 300px; 
  height: 200px; 
  object-fit: cover; /* Ensures the image covers the specified dimensions without distorting */
  padding-right: 10px;
}
.grid--text {
  padding-left: 100px;
  text-align: left;
}
.grid--text h2 {
  margin: -1px;
}


/* Details ------------------------------------------------------------------------------ */

.details__layout {
  display: flex;
  justify-content: center;
}
.details__layout--img {
  align-self: end;
}

 /* Navigation Bar ---------------------------------------------------------------------- */

 .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-green);
  padding: 10px 20px;
  position: relative; 
  top: 0; /* Ensures the navbar starts at the top edge */
  left: 50%;
  right: 50%;
  margin-left: -50vw; /* Move left edge to start from the viewport edge */
  margin-right: -50vw; /* Move right edge to extend to the viewport edge */
  width: 100vw; /* Set width to full viewport width */
}
.navbar__brand {
  font-size: 24px;
  display: inline-block;
}
.navbar__brand a span {
  color: var(--bg-color);
  background-color: var(--light-green);
}
.navbar__links {
  display: inline-block;
  /* background of space between a */
  background-color: var(--light-green);
}
.navbar__links a {
  /* create space between a  */
  margin-right: 10px;
}
.navbar__links a span {
  color: var(--bg-color);
  background-color: var(--light-green);
}

