<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Django App</title>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, inital-scale=1.0">
    <link rel="stylesheet" href="../../static/recipes/index.css">
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar__brand">
        <a href="{% url 'recipes:home'%}"><span>Recipe App</span></a>
      </div>
      <div class="navbar__links">
        <a href="{% url 'recipes:home'%}"><span>Home</span></a>
        <a href="{% url 'recipes:about'%}"><span>About</span></a>
        <a href="{% url 'logout'%}"><span>Logout</span></a>
      </div>
    </nav>
    <div class='main__body'>
      <div class='login__title'>
        <h1>Login</h1>
      </div>
      <div class='login__form'>
        {% if error_message %}
        {{error_message}}
        {% endif %}
        <form action="" method="POST" class='login__form--items'>
          {% csrf_token %}   
          {{form}}           
          <button type="submit" >Login</button>
       </form>
       <div class="login__note">
        <h4>Visitor login credentials</h4>
        <p>Username: <span class="note">guest</span></p> <p>Passowrd: <span class="note">breakfast</span></p>
      </div>
      </div>
      
    </div>
    
  </body>
</html>
