<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Django App</title>
    <meta charset="UTF-8" />
    <meta name="viewpoint" content="width=device-width, inital-scale=1.0" />
    <link rel="stylesheet" href="../../static/recipes/index.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar__brand">
        <a href="#"><span>Recipe App</span></a>
      </div>
      <div class="navbar__links">
        <a href="{% url 'recipes:home'%}"><span>Home</span></a>
        <a href="{% url 'recipes:list'%}"><span>Recipes</span></a>
        <a href="{% url 'recipes:search'%}"><span>Search</span></a>
        <a href="{% url 'logout'%}"><span>Logout</span></a>
      </div>
    </nav>
    <div class="details__layout">
      
      <div class="">
        <h1>{{object.name}}</h1>
        <img src="{{object.pic.url}}" width="400" height="300" />
        <br> 

        <b>Name: </b> {{object.name}} <br />

        <b>Cooking-time: </b> {{object.cooking_time}}min <br />
        
        <b>Difficulty: </b> {{object.difficulty}} <br />

        <b>Ingredients: </b> {{object.ingredients}} <br />

        <b>Directions: </b> {{object.directions}} <br />
      </div>
    </div>
  </body>
</html>
