<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Django App</title>
    <meta charset="UTF-8" />
    <meta name="viewpoint" content="width=device-width, inital-scale=1.0" />
    <link rel="stylesheet" href="../../static/recipes/index.css" />
  </head>
  <body>
    <div class="list__layout">
      <h1 class="list--text">Recipe list</h1>

      <ul class="list--grid">
        {% for object in object_list %}

        <li class="grid--item">
          <img src="{{object.pic.url}}" widht="300" height="200" />

          <span class="grid--text">
            <a href="{{object.get_absolute_url}}"><h2>{{object.name}}</h2></a>
            Cooking-time: {{object.cooking_time}}min <br />
            Difficulty: {{object.difficulty}}
          </span>
        </li>

        {% endfor %}
      </ul>
    </div>
  </body>
</html>
