{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Django App</title>
    <meta charset="UTF-8" />
    <meta name="viewpoint" content="width=device-width, inital-scale=1.0" />
    <link rel="stylesheet" href="../../static/recipes/index.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar__brand">
        <a href="{% url 'recipes:home'%}"><span>Recipe App</span></a>
      </div>
      <div class="navbar__links">
        <a href="{% url 'recipes:home'%}"><span>Home</span></a>
        <a href="{% url 'recipes:list'%}"><span>Recipes</span></a>
        <a href="{% url 'recipes:search'%}"><span>Search</span></a>
        <a href="{% url 'recipes:about'%}"><span>About</span></a>
        <a href="{% url 'logout'%}"><span>Logout</span></a>
      </div>
    </nav>
    <div class="search__layout">
      <div class="search__img">
        <img src={% static 'recipes/images/pantry.jpg'%} alt="pantry" id="search__img--pantry">
      </div>

      <div class="search__elements">

        <div class="search--query">
          <h1>Search</h1>
          <form action="" method="POST" class="search__form">
            {% csrf_token %} {{form}}
            <button type="submit">Search</button>
          </form>
          <br />
          <button
            onclick="window.location.href='{% url 'recipes:search' %}?view_all=true'" class="view-all-btn">
            View All Recipes
          </button>
        </div>
        
        <div class="search--results">
          {% if qs %}
          <ul>
            {% for item in qs %}
            <li>
              <a href="{{ item.get_absolute_url }}"><h2>{{ item.name }}</h2></a>
              <p>{{ item.ingredients }}</p>
            </li>
            <li>
              <img src="data:image/png;base64, {{chart|safe}}" />
            </li>
            {% endfor %}
          </ul>
          {% elif recipes %}
          <ul>
            {% for recipe in recipes %}
            <li>
              <a href="{{ recipe.get_absolute_url }}"
                ><h2>{{ recipe.name }}</h2></a
              >
              <p>{{ recipe.ingredients }}</p>
            </li>
            {% endfor %}
          </ul>
          {% else %}
          <p>No data currently</p>
          {% endif %}
        </div>
      </div>
      
    </div>
  </body>
</html>
