
:root {
  --bg-color: #faf9f6;
  --text-color: #3a3b3c;
  --light-green: #c5c191;
  --mid-green: #a3aa81;
  --dark-green: #595f40;
}

* {
  background-color: var(--bg-color);
  color: var(--text-color);  
  box-sizing: border-box;
}

html, body {
  /* added to help navbar */
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: var(--mid-green);
}
h3 {
  color: var(--dark-green);
}
h3:hover {
  /* only h3 is about links */
  color: var(--light-green);
}
a {
  text-decoration: none;
}
li {
  list-style: none;
  margin-bottom: 25px;
}
button {
  background-color: var(--mid-green);
  color: var(--bg-color);
  border: none;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
}
button:hover {
  background-color: var(--dark-green);
}

/* Navigation Bar ---------------------------------------------------------------------- */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mid-green);
  padding: 10px 20px;
  position: relative; 
  top: 0; /* Ensures the navbar starts at the top edge */
  left: 50%;
  right: 50%;
  margin-left: -50vw; /* Move left edge to start from the viewport edge */
  margin-right: -50vw; /* Move right edge to extend to the viewport edge */
  width: 100vw; /* Set width to full viewport width */
}
.navbar__brand {
  font-size: 24px;
  display: inline-block;
}
.navbar__brand a span {
  color: var(--bg-color);
  background-color: var(--mid-green);
}
.navbar__links {
  display: inline-block;
  /* background of space between a */
  background-color: var(--mid-green);
}
.navbar__links a {
  /* create space between a  */
  margin-right: 10px;
}
.navbar__links a span {
  color: var(--bg-color);
  background-color: var(--mid-green);
}

/* Main/Home ------------------------------------------------------------------------- */

.main__head {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  /* gap: 20px; */
}
.main__head--text {
 display: flex;
 justify-content: center;
 flex-direction: column;
 padding-left: 40px;
 width: 500px;
 word-wrap: break-word; /* Ensures long words are wrapped to the next line */
 overflow-wrap: break-word; /* Another option to handle text wrapping */
 /* align-items: center; */
} 
#main__img--kitchen {
  width: 500px;
  height: 800px;
  object-fit: cover;
}


/* list --------------------------------------------------------------------------------- */

.list__layout {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  /* gap: 20px;  */
}
.list--title {
  position: absolute;
  padding-left: 20px;
  background-color: transparent;
  color: var(--bg-color);
  align-self: end;
}
.list--grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  max-height: 800px;
  overflow-y: auto; /* Enable vertical scrolling if content exceeds the height */
  overflow-x: hidden; /* Hide horizontal overflow */
}
.grid--item img {
  width: 300px; 
  height: 200px; 
  object-fit: cover; /* Ensures the image covers the specified dimensions without distorting */
  padding-right: 10px;
}
#img--breakfast {
  width: 500px;
  height: 820px;
  object-fit: cover;
  margin-top: -20px;
}
.grid--text {
  position: relative;
}

/* Details ------------------------------------------------------------------------------ */

.details__layout {
  display: flex;
  justify-content: center;
}
.details--container div {
  width: 400px;
}
.details__layout--img {
  align-self: end;
}
.details--data {
  width: 400px;
  word-wrap: break-word; /* Ensures long words are wrapped to the next line */
  overflow-wrap: break-word; /* Another option to handle text wrapping */
  padding: 10px; /* Adds some space inside the div */
  margin: 0 auto; 
}

/* Login/Success --------------------------------------------------------------------------------  */

.main__body {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.login__title {
  padding-right: 50px;
}
.login__form input[type="text"],
.login__form input[type="password"] {
  width: 100%; /* Make the inputs full width */
  padding: 10px; /* Add padding for better spacing */
  margin-bottom: 15px; /* Add space between inputs */
  border: 1px solid var(--dark-green); /* Border styling */
}
.main__body--success {
  display: flex;
  justify-content: center;
  padding: 20px;
}
#img--table {
  width: 300px;
  height: 400px;
  object-fit: cover;
  padding-right: 20px;
}

/* Search ------------------------------------------------------------------------- */

.search__layout {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 20px; 
}
#search__img--pantry {
  width: 500px;
  height: 800px;
  object-fit: cover;
}
.search__elements {
  max-height: 800px;
  overflow-y: auto; /* Enable vertical scrolling if content exceeds the height */
  overflow-x: hidden; /* Hide horizontal overflow */
}
.search--query {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid var(--dark-green);
}
.search__form input[type="text"] {
  width: 100%; 
  padding: 10px; 
  margin-bottom: 15px; 
  border: 1px solid var(--dark-green); 
}
.search__form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--dark-green);
  background-color: var(--mid-green); 
  color: var(--bg-color); 
}
.view-all-btn {
  width: max-content;
  margin-bottom: 15px;
}
.search--query form {
  width: 30%;
}
/* Create ------------------------------------------------------------------------------ */
.create__layout {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 20px; 
}
#img--dishes {
  width: 500px;
  height: 800px;
  object-fit: cover;
}
/* .create__form input[type="text"] {
  width: 100%; 
  padding: 10px; 
  margin-bottom: 15px; 
  border: 1px solid var(--dark-green); 
}
.create__form input[type="number"] {
  width: 100%; 
  padding: 10px; 
  margin-bottom: 15px; 
  border: 1px solid var(--dark-green); 
} */
.create__form input[type="text"],
.create__form input[type="number"],
.create__form textarea {
  width: 100%; 
  padding: 10px; 
  margin-bottom: 15px; 
  border: 1px solid var(--dark-green); 
  resize: vertical; /* Allows vertical resizing of textarea */
}
.create__elements {
  width: 500px;
}
.messages {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}
.messages li {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.messages .success {
  background-color: var(--dark-green);
  color: var(--bg-color);
}


/* About ------------------------------------------------------------------------------ */

.about__layout {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 20px; 
}
.about--text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  word-wrap: break-word; /* Ensures long words are wrapped to the next line */
  overflow-wrap: break-word; /* Another option to handle text wrapping */
}
.about--container {
  padding: 10px; /* Adds some space inside the div */
  max-height: 800px;
  overflow-y: auto; /* Enable vertical scrolling if content exceeds the height */
  overflow-x: hidden; /* Hide horizontal overflow */
}
.about--name {
  color: var(--dark-green);
  font-size: 20px;
}
#img--profile {
  width: 500px;
  height: 820px;
  object-fit: cover;
  margin-top: -20px;
}